body {
    background-color: lavenderblush;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.playlist,
.play-music {
    width: 400px;
    background-color: white;
    margin: 0px 40px;
    padding: 25px;
    border-radius: 40px;
    padding-bottom: 100px; /* control-bar가 music-list의 공간을 침범하기 때문에 아래 패딩을 늘려줌 */
}
.playlist{
    position: relative; /* control-bar의 absolute를 위해 */
}

/*----------------- Size or characteristic info -----------------*/
.img--sm {
    width: 60px;
}
.img--3xl {
    width: 300px;
}
.img--circle {
    border-radius: 50%;
}
.img--shadow {
    box-shadow: 0 14px 28px rgba(156, 46, 173, 0.6);
}
.button--black {
    background-color: black;
    color: white;
}
/*----------------- plalist -----------------*/
/* top-bar */
.top-bar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}

/* profile */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile__img {
    width: 130px;
    margin: 20px 0px 30px;
}
.profile__text {
    text-align: center;
    font-size: 22px;
}
.profile__author {
    margin: 10px 0px;
}
.profile__genre {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
}

/* actions */
.actions {
    margin: 40px 0px;
    text-align: center;
}
.actions button {
    padding: 17px 35px;
    margin: 0px 10px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.15);
}
button:hover {
    background-color: aqua;
    color: black;
}

/* music-list */
.music-list ul {
    list-style-type: none;
    padding-left: 0px;
    height: 380px;
    overflow-y: scroll;
}
.music-list__music {
    margin: 5px 0px;
    padding: 15px 25px;
    background-color: whitesmoke;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.music__column:first-child{
    display: flex;
    align-items: center;
}
.music__cover {
    margin-right: 20px;
    border-radius: 10px;
}
.music__author {
    margin-bottom: 4px;
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}
.music__title {
    font-size: 18px;
}
.music-list__music:hover {
    background-color: rgba(0,0,0,0.1);
}

/* control-bar */
.control-bar {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    background-color:black;
    color: white;
    position: absolute;
    bottom: 20px;
    /* width: 320px; (playlist의 width 400) - (control-bar의 좌우 padding 80) */
    left: 20px;
    right: 20px;
    margin: 0px auto;


}
.control-bar__column .music__author {
    color: aquamarine;
}
.control-bar__column:last-child i {
    margin-left: 25px;
}

/*----------------- play-music -----------------*/
/* music info */
.music-info {
    margin-bottom: 40px;
}
.music-info .music__cover {
    margin: 80px 0px 70px;
}
.music-info__text {
    text-align: center;
}
.music-info__text .music__title {
    display: block;
    font-size: 26px;
    margin-bottom: 15px;
}
.music-info__text .music__author {
    font-size: 16px;
}

/* play time bar */
.play-time-bar {
    padding: 10px;
    margin-bottom: 60px;
}
.time {
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}

.time-bar {
    padding: 10px 0px;
}
.time-bar__total {
    height: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.15);
}
.time-bar__last {
    width: 66%;
    height: 5px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.time-bar__current-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
}

/* play control bar */
.play-control-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.play-button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-control-bar > i:first-child,
.play-control-bar > i:last-child {
    color: rgba(0, 0, 0, 0.3);
}